INFLUXDB_API_TOKEN="token"
INFLUXDB_URL="url"
INFLUXDB_ORG="organisation name"
INFLUXDB_BUCKET="bucket name"
INFLUXDB_POINT_NAME="InfluxDB point name to save the sample under"
LOCATION_TAG="where the sample happens, eg, Stockholm, living room"
